.body {
  width: 100%;
}

.section1 {
  margin: 1rem;
  padding: 1rem;
}

.section1 div {
  display: inline-block;
}

.section1 .aboutusinfo {
  width: 60%;
  height: 30rem;
  padding: 1.2rem;
  font-size: 1.8rem;
}

.section1 .aboutusinfo h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  margin: 1rem;
  margin-bottom: 6rem;
  padding-left: 6.5rem;
  background: #fab400;
  position: relative;
  left: -8rem;
  width: 43rem;
}

.section1 .aboutusinfo p {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 1.9rem;
}

.section1 .ceo_info {
  margin: 1rem;
  padding: 0.7rem;
  position: absolute;
  width: 30rem;
  height: 38rem;
}

.section1 .img_container {
  margin-left: 1rem;
  position: absolute;
  width: 30rem;
  left: 30rem;
  height: 30rem;
  z-index: -100;
}

.section1 .img_container img {
  width: 29rem;
  height: 29rem;
}

.section1 .ceo_info div {
  display: block;
  margin: 10px;
  height: 48%;
  text-align: center;
}

.ondela figure figcaption , .mlibo figure figcaption {
  font-size: 1.2rem;
  font-weight: bold;
}

.ondela figure img, .mlibo figure img{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

/*            SECTION 2           */

.section2 {
  height: 30rem;
  width: 95%;
}

.section2 div {
  display: inline-block;
}

.section2 div img {
  position: relative;
  width: 40rem;
  height: 25rem;
  top: 6rem;
  z-index: -1;
}

.section2 .sub_info {
  position: absolute;
  left: 32rem;
  margin: .7rem;
  padding: 2rem;
  width: 25%
  height: 5rem;
}

.section2 .sub_info p {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 1.9rem;
}

.section2 .sub_info .head_cover {
  position: relative;
  top: 2rem;
  left: 4rem;
  font-size: 2rem;
  background: #1c206d;
  padding: 10px;
  color: #fff;
  width: 18rem;
  text-align: center;
}

.cover_quote {
  text-decoration: none;
  color: inherit;
}
