* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	/*font-family: Courier New, monospace; */
	/*font-family: Menlo, Monaco;*/
}

body {
	width: 100%;
	height: 100%;
}

.menu ul {
	display: inline-flex;
	margin: 50px;
}

.menu li {
	font-size: 1.2em;
	list-style: none;
	margin: 0 20px;
	color: #000080;
	cursor: pointer;
	text-decoration: none;
}

.menu li a {
	text-decoration: none;
}

.menu li.active a{
	text-decoration: none;
	color: #D1B000;
}

.menu li a:hover {
	color: #FFD700;
}

.logo {
	width: 60px;
	height: 60px;
	margin-top: -25px;
	margin-right: 48px;
}

/*			Style for Forms			*/

.body {
	border: 2px solid #000080;
}

.body.form {
	text-align: center;
	font-size: 2.2em;
}

.body h1 {
	color: #fff;
	background-color: #000080;
}

p {
	padding: 10px;
	margin: 5px;
}

form {
	background-color: #0A81D1;
}

form  * {
	display: block;
}

input, select {
	width: 100%;
	height: 20px;
	padding: 10px;
	font-size: large; 
}
