* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	/*font-family: Courier New, monospace; */
	/*font-family: Menlo, Monaco;*/
}

body {
	width: 100%;
	height: 100%;
}

.menu ul {
	display: inline-flex;
	margin-top: 30px;
}

.menu li {
	font-size: 1.2em;
	list-style: none;
	margin: 0 20px;
	color: #000080;
	cursor: pointer;
	text-decoration: none;
}

.menu li a {
	text-decoration: none;
}

.menu li.active a{
	text-decoration: none;
	color: #D1B000;
}

.menu li a:hover {
	color: #FFD700;
}

.logo {
	width: 180px;
	height: 80px;
	margin-top: -25px;
	margin-right: 12px;
}

/*			Style for Forms			*/

.body {
	margin-top: -12;
	border: 2px solid #000080;
}

.body.form {
	text-align: center;
	font-size: 2.0em;
}

.body h1 {
	color: #fff;
	background-color: #000080;
}

p {
	padding: 10px;
	margin: 5px;
}

form {
	background-color: #0A81D1;
	color: #D1B000;
	padding-bottom: 25px;
}

form  * {
	display: block;
}

input, select {
	width: 96%;
	height: 20px;
	padding: 10px;
	margin: 10px;
	font-size: large; 
}

select {
	margin-left: 20px;
	height: 40px;
	font-size: medium;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#textarea {
	width: 96%;
	height: 80px;
}

.submit {
	width: 96%;
	height: 20%;
	text-align: right;
}

.submit input {
	width: 20%;
	height: 100%;
}

/*			Footer CSS			*/

footer {
  text-align: center;
  background-color: #ccc;
  font-size: 1.0em;
}

figure {
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: #000080;
}

figure img{
  width: 40px;
  height: 40px;
  margin: 4px;
}

figure figcaption {
	display: none;
}

.copyright {
	color: #000080;
	text-align: center;
}